.icon {
  padding-right: 0.5em;
}

.color-yellow {
  color: yellow;
}

/* friend-list style*/
.friend-list{
  position: fixed;
  bottom: 0;
  right: 15px;
  list-style: none;
  z-index: 10;
}
.friend-list-button{
  width: 150px;
  border-radius: 4px 4px 0 0;
}
.friend-list-dropdown{
  bottom: 100%;
  top: auto;
  left: auto;
  right: 0;

  width: 250px;
  height: 450px;
  margin: 0 0;
  padding: 0 0;
}

.color-green {
  color: #00AA00;
}

/* aparencia do dropdown de login */
.login-dropdown {
    width: 250px;
}
.login-popup {
    border: 0;
}
.login-popup legend {
    margin: .2em 0 .3em 0;
}
.login-popup input {
    background: rgba(0, 0, 0, .15);
    border: none;
    color: #FFF;
    margin-bottom: .6em;
}
.login-popup .form-group {
    margin-bottom: 0;
}