<div id="listchat" class="list-chat">
    <div id="box1" class="chat-box">
        <input type="checkbox" />
        <label data-expanded="Close Chatbox" data-collapsed="Open Chatbox"></label>
        <div class="chat-box-content">

            <div id="chatScreen" class="well well-lg chat-screen" >

            </div>

            <div class="form-group">
                <label class="control-label">Input addons</label>
                <div class="input-group" style="width: 100%;">
                    <input  id="textarea" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div> 

    <!--<div id="box2" class="chat-box" style="right:600px;">
        <input type="checkbox" />
        <label data-expanded="Close Chatbox" data-collapsed="Open Chatbox"></label>
        <div class="chat-box-content">

            <div id="chatScreen" class="well well-lg chat-screen" >

            </div>

            <div class="form-group">
                <label class="control-label">Input addons</label>
                <div class="input-group" style="width: 100%;">
                    <input  id="textarea" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>-->
</div>