<li class="dropdown friend-list chat-friend-list">
  <a href="#" class="btn btn-success dropdown-toggle friend-list-button" data-toggle="dropdown">Amigos</a>
  <ul class="dropdown-menu friend-list-dropdown">
    <li>
      <div class="list-group friend-list-group">
        <a href="#" class="list-group-item">
          <div class="row">
            <div class="col-xs-4">
              <img class="img-responsive" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-8">
              <h4 class="list-group-item-heading">Nome do Jogador</h4>
              <p class="list-group-item-text">
                Moedas: <span class="color-yellow"><i class="fa fa-bitcoin"></i> 131231</span>
              </p>
            </div>
          </div>

        </a>
        <!-- Lista estática
        <a href="#" class="list-group-item friend-chat">
          Mario da burrinha <span class="fa icon fa-user pull-right color-green"></span>
        </a>
        <a href="#" class="list-group-item friend-chat">
          Victor Henrique <span class="fa icon fa-user pull-right"></span>
        </a>
        <a href="#" class="list-group-item friend-chat">
          ninguem <span class="fa icon fa-user pull-right"></span>
        </a> -->
          
      </div>
    </li>
  </ul>
</li>