<li class="dropdown friend-list">
  <a href="#" class="btn btn-success dropdown-toggle friend-list-button" data-toggle="dropdown">Amigos</a>
  <ul class="dropdown-menu friend-list-dropdown btn-success">
    <li>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <div class="row">
            <div class="col-xs-4">
              <img class="img-responsive" src="http://placehold.it/200x200">
            </div>
            <div class="col-xs-8">
              <h4 class="list-group-item-heading">Nome do Jogador</h4>
              <p class="list-group-item-text">
                Moedas: <span class="color-yellow"><i class="fa fa-bitcoin"></i> 131231</span>
              </p>
            </div>
          </div>

        </a>
        <a href="#" class="list-group-item">
          Mario da burrinha <span class="fa icon fa-user pull-right color-green"></span>
        </a>
        <a href="#" class="list-group-item">
          Victor Henrique <span class="fa icon fa-user pull-right"></span>
        </a>
        <a href="#" class="list-group-item">
          ninguem <span class="fa icon fa-user pull-right"></span>
        </a>
      </div>
    </li>
  </ul>
</li>

<div id="box" class="chat-box btn-success">
  <input type="checkbox" />
  <label data-expanded="Close Chatbox" data-collapsed="Open Chatbox"></label>
  <div class="chat-box-content">

    <div id="chatScreen" class="well well-lg chat-screen" >

    </div>

    <div class="form-group">
      <label class="control-label">Input addons</label>
      <div class="input-group" style="width: 100%;">
        <input onkeydown="buttonEnterPressed()" id="textarea" type="text" class="form-control">
      </div>
    </div>
  </div>

</div>


<script>
  var x = "#box";
  $(x).hide();

  $("#a1").click(function(){
    $("#box").show();
  });

  function message()
  {
    document.getElementById("chatScreen").innerHTML += "<br>" +  document.getElementById("textarea").value;
    document.getElementById("textarea").value = "";
    document.getElementById("chatScreen").scrollTop = document.getElementById("chatScreen").scrollHeight;
  }

  function buttonEnterPressed(){
    if (event.keyCode == 13) {
      this.message();
      return false;
    }else if(event.keyCode == 27){
      $(x).hide();
    }
  }

</script>