<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="dashboard.html">
      <img src="images/logo.png" alt="istim logo"   height="20" />
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="buy_games.html">Comprar Jogos</a></li>
      <li><a href="news.html">Noticias</a></li>
      <li><a href="about.html">Sobre</a></li>
      <li><a href="dashboard.html">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entrar <b class="caret"></b></a>
        <ul class="dropdown-menu login-dropdown">
          <li>
            <form class="form-horizontal">
              <fieldset class="login-popup">
                <legend>Login</legend>
                <div class="form-group">
                  <div class="col-xs-12">
                    <input class="form-control" type="email" for="email" placeholder="email">
                    <input class="form-control" type="password" for="password" placeholder="senha">
                    <input type="submit" class="btn btn-success col-xs-12" value="Entrar">

                    <!-- <span class="pull-right">Don't have an account?</span> -->
                    <button data-toggle="modal" data-target="#signup-modal" id="signup-modal-button" type="button" class="btn btn-default col-xs-4 pull-right"> Registrar-se </button>
                  </div>
                </div>
              </fieldset>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
