<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">
      <img src="images/logo.png" alt="istim logo"   height="20" />
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/games">Comprar Jogos</a></li>
      <li><a href="#/news">Noticias</a></li>
      <li><a href="#/about">Sobre</a></li>
      <li><a href="#/dashboard">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entrar <b class="caret"></b></a>
        <ul class="dropdown-menu login-dropdown">
          <li>
              <fieldset class="login-popup">
                <legend style="text-align:center;"> Login </legend>
                <form class="form-group" ng-controller="LoginController">
                  <div class="col-xs-12">
                    <input class="form-control" type="email" placeholder="email" ng-model="user.email" required>
					<input class="form-control" type="password" for="password" placeholder="Senha" ng-model="user.password" required>
					<button class="btn btn-success col-xs-12" value="Entrar" ng-click="auth(user)">Entrar</button>
                    <button data-toggle="modal" data-target="#signup-modal" id="signup-modal-button" type="button" class="btn btn-default col-xs-4 pull-right"> Registrar-se </button>
                  </div>
              </fieldset>
            </form>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
