<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">
      <img src="images/logo.png" alt="istim logo"   height="20" />
    </a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="games.html">Meus Jogos</a></li>

      <li><a href="#/games">Comprar Jogos</a></li>
      <li><a href="#/news">Noticias</a></li>
      <li><a href="#/trade_item">Mercado de Item</a></li>
      <li><a href="#/about">Sobre</a></li>
      <!-- <li><a href="add_friend.html">Adicionar Amigos</a></li> -->
      <!-- <li><a href="index.html">Index</a></li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jogador da Silva <b class="caret"></b></a>
        <ul class="dropdown-menu login-dropdown">
          <li><a href="perfil.html">Perfil</a></li>
          <li><a href="edit_profile.html">Edit Profile</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" class="dropdown-header">Minhas Moedas</li>
          <li><a href="add_coins.html">Recarregar</a></li>
          <li><a href="transfer.html">Transferencia</a></li>
          <li><a href="transfer_history.html">Historico de Transferência</a></li>
          <li><a href="recharge_history.html">Historico de Recarga</a></li>
          <li role="presentation" class="divider"></li>
        <!--  <li><a href="perfil.html">Perfil</a></li> -->
       <!-- </ul>
       </li> -->
      <li><a href="#/" ng-click="logout()"><span class="fa icon fa-sign-out"></span>Sair {{ scope.session.user.name }}</a></li>
    </ul>
  </div>
</div>
