<div class="list-group">
  <a href="#" class="list-group-item">
    <div class="row">
      <div class="col-xs-5">
        <img class="img-responsive-about" src="http://placehold.it/120x120">
      </div>
      <div class="col-xs-7">
        <h4 class="list-group-item-heading">Nome do Jogador</h4>
        <p class="list-group-item-text">
          Moedas: <span class="color-yellow"><i class="fa fa-bitcoin"></i> 131231</span>
		</p>
      </div>
    </div>

  </a>
</div>

<div id="div1" class="list-group">

	<a href="perfil.html" class="list-group-item">Perfil</a>
	<a href="edit_profile.html" class="list-group-item">Edit Profile</a>
	<a href="add_coins.html" class="list-group-item">Recarregar</a>
	<a href="transfer.html" class="list-group-item">Transferencia</a>
	<a href="transferhistory.html" class="list-group-item">Historico de Transferência</a>
	<a href="rechargehistory.html" class="list-group-item">Historico de Recarga</a>

</div>