<div class="list-group">
  <a href="#" class="list-group-item">
    <div class="row">
      <div class="col-xs-4">
        <img class="img-responsive" src="http://placehold.it/200x200">
      </div>
      <div class="col-xs-8">
        <h4 class="list-group-item-heading">Nome do Jogador</h4>
        <p class="list-group-item-text">
          Moedas: <span class="color-yellow"><i class="fa fa-bitcoin"></i> 131231</span>
        </p>
      </div>
    </div>

  </a>
</div>

<div id="div1" class="list-group">

  <a id="a1" href="#" class="list-group-item">
    Mario da burrinha <span class="fa icon fa-user pull-right color-green"></span>
  </a>
  <a href="#" class="list-group-item">
    Victor Henrique <span class="fa icon fa-user pull-right"></span>
  </a>
  <a href="#" class="list-group-item">
    ninguem <span class="fa icon fa-user pull-right"></span>
  </a>

</div>